webpages/dtd/testcase.dtd

<!ELEMENT testcase (step+)>
<!ELEMENT step (#PCDATA | optionalParameter)*>
<!ELEMENT optionalParameter (#PCDATA)>

<!ATTLIST step
    command (Assert_Content | Assert_Deselected | Assert_Disabled | Assert_Selected | Assert_Set | Assert_Title | Click_On | Close_Window | Deselect | Exec_Java | Go_Back | Mouse_Over | Open_Url | Select | Set | Use_Module) #REQUIRED
    comment (true | false) "false">