wetator/src/org/wetator/scripter/xml/xsd/default-command-set-1.0.0.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema targetNamespace="http://www.wetator.org/xsd/default-command-set"
    xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns="http://www.wetator.org/xsd/default-command-set"
    xmlns:tc="http://www.wetator.org/xsd/test-case" elementFormDefault="qualified"
    attributeFormDefault="unqualified" version="1.0.0">

    <xs:annotation>
        <xs:documentation>
            Copyright (c) 2008-2017 wetator.org

            Licensed under the Apache License, Version 2.0 (the "License");
            you may not
            use this file except in compliance with the License.
            You may
            obtain a copy of the License at
            http://www.apache.org/licenses/LICENSE-2.0

            Unless required by applicable law or agreed to in writing, software
            distributed under the License is distributed on an "AS IS"
            BASIS,
            WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either
            express or implied.
            See the License for the specific language
            governing permissions and
            limitations under the License.
        </xs:documentation>
    </xs:annotation>

    <xs:import namespace="http://www.wetator.org/xsd/test-case"
        schemaLocation="test-case-1.0.0.xsd" />

    <xs:element name="assert-content">
        <xs:annotation>
            <xs:documentation>Asserts that the current page contains the
                expected content.</xs:documentation>
        </xs:annotation>
        <xs:complexType>
            <xs:complexContent>
                <xs:extension base="tc:commandType">
                    <xs:sequence>
                        <xs:element name="content" type="tc:parameterType"
                            minOccurs="1" maxOccurs="1">
                            <xs:annotation>
                                <xs:documentation>The expected content.
                                </xs:documentation>
                            </xs:annotation>
                        </xs:element>
                        <xs:element name="wait" type="tc:parameterType"
                            minOccurs="0" maxOccurs="1">
                            <xs:annotation>
                                <xs:documentation>The time to wait (in
                                    seconds) for the expected content to
                                    appear.</xs:documentation>
                            </xs:annotation>
                        </xs:element>
                    </xs:sequence>
                </xs:extension>
            </xs:complexContent>
        </xs:complexType>
    </xs:element>

    <xs:element name="assert-deselected">
        <xs:annotation>
            <xs:documentation>Asserts that the given control is
                deselected.</xs:documentation>
        </xs:annotation>
        <xs:complexType>
            <xs:complexContent>
                <xs:extension base="tc:commandType">
                    <xs:sequence>
                        <xs:element name="wpath" type="tc:parameterType"
                            minOccurs="1" maxOccurs="1">
                            <xs:annotation>
                                <xs:documentation>The WPath identifying
                                    the control.</xs:documentation>
                            </xs:annotation>
                        </xs:element>
                    </xs:sequence>
                </xs:extension>
            </xs:complexContent>
        </xs:complexType>
    </xs:element>

    <xs:element name="assert-enabled">
        <xs:annotation>
            <xs:documentation>Asserts that the given control is
                enabled.</xs:documentation>
        </xs:annotation>
        <xs:complexType>
            <xs:complexContent>
                <xs:extension base="tc:commandType">
                    <xs:sequence>
                        <xs:element name="wpath" type="tc:parameterType"
                            minOccurs="1" maxOccurs="1">
                            <xs:annotation>
                                <xs:documentation>The WPath identifying
                                    the control.</xs:documentation>
                            </xs:annotation>
                        </xs:element>
                    </xs:sequence>
                </xs:extension>
            </xs:complexContent>
        </xs:complexType>
    </xs:element>

    <xs:element name="assert-disabled">
        <xs:annotation>
            <xs:documentation>Asserts that the given control is
                disabled.</xs:documentation>
        </xs:annotation>
        <xs:complexType>
            <xs:complexContent>
                <xs:extension base="tc:commandType">
                    <xs:sequence>
                        <xs:element name="wpath" type="tc:parameterType"
                            minOccurs="1" maxOccurs="1">
                            <xs:annotation>
                                <xs:documentation>The WPath identifying
                                    the control.</xs:documentation>
                            </xs:annotation>
                        </xs:element>
                    </xs:sequence>
                </xs:extension>
            </xs:complexContent>
        </xs:complexType>
    </xs:element>

    <xs:element name="assert-selected">
        <xs:annotation>
            <xs:documentation>Asserts that the given control is
                selected.</xs:documentation>
        </xs:annotation>
        <xs:complexType>
            <xs:complexContent>
                <xs:extension base="tc:commandType">
                    <xs:sequence>
                        <xs:element name="wpath" type="tc:parameterType"
                            minOccurs="1" maxOccurs="1">
                            <xs:annotation>
                                <xs:documentation>The WPath identifying
                                    the control.</xs:documentation>
                            </xs:annotation>
                        </xs:element>
                    </xs:sequence>
                </xs:extension>
            </xs:complexContent>
        </xs:complexType>
    </xs:element>

    <xs:element name="assert-set">
        <xs:annotation>
            <xs:documentation>Asserts that the actual value of the given
                control equals the expected value.</xs:documentation>
        </xs:annotation>
        <xs:complexType>
            <xs:complexContent>
                <xs:extension base="tc:commandType">
                    <xs:sequence>
                        <xs:element name="wpath" type="tc:parameterType"
                            minOccurs="1" maxOccurs="1">
                            <xs:annotation>
                                <xs:documentation>The WPath identifying
                                    the control.</xs:documentation>
                            </xs:annotation>
                        </xs:element>
                        <xs:element name="value" type="tc:parameterType"
                            minOccurs="1" maxOccurs="1">
                            <xs:annotation>
                                <xs:documentation>The expected value.
                                </xs:documentation>
                            </xs:annotation>
                        </xs:element>
                    </xs:sequence>
                </xs:extension>
            </xs:complexContent>
        </xs:complexType>
    </xs:element>

    <xs:element name="assert-title">
        <xs:annotation>
            <xs:documentation>Asserts that the actual title of the
                current page equals the expected title.
            </xs:documentation>
        </xs:annotation>
        <xs:complexType>
            <xs:complexContent>
                <xs:extension base="tc:commandType">
                    <xs:sequence>
                        <xs:element name="title" type="tc:parameterType"
                            minOccurs="1" maxOccurs="1">
                            <xs:annotation>
                                <xs:documentation>The expected title.
                                </xs:documentation>
                            </xs:annotation>
                        </xs:element>
                        <xs:element name="wait" type="tc:parameterType"
                            minOccurs="0" maxOccurs="1">
                            <xs:annotation>
                                <xs:documentation>The time to wait (in
                                    seconds) for the expected title to
                                    appear.</xs:documentation>
                            </xs:annotation>
                        </xs:element>
                    </xs:sequence>
                </xs:extension>
            </xs:complexContent>
        </xs:complexType>
    </xs:element>

    <xs:element name="click-double-on">
        <xs:annotation>
            <xs:documentation>Doubleclicks on the given control.
            </xs:documentation>
        </xs:annotation>
        <xs:complexType>
            <xs:complexContent>
                <xs:extension base="tc:commandType">
                    <xs:sequence>
                        <xs:element name="wpath" type="tc:parameterType"
                            minOccurs="1" maxOccurs="1">
                            <xs:annotation>
                                <xs:documentation>The WPath identifying
                                    the control.</xs:documentation>
                            </xs:annotation>
                        </xs:element>
                    </xs:sequence>
                </xs:extension>
            </xs:complexContent>
        </xs:complexType>
    </xs:element>

    <xs:element name="click-on">
        <xs:annotation>
            <xs:documentation>Clicks on the given control.
            </xs:documentation>
        </xs:annotation>
        <xs:complexType>
            <xs:complexContent>
                <xs:extension base="tc:commandType">
                    <xs:sequence>
                        <xs:element name="wpath" type="tc:parameterType"
                            minOccurs="1" maxOccurs="1">
                            <xs:annotation>
                                <xs:documentation>The WPath identifying
                                    the control.</xs:documentation>
                            </xs:annotation>
                        </xs:element>
                    </xs:sequence>
                </xs:extension>
            </xs:complexContent>
        </xs:complexType>
    </xs:element>

    <xs:element name="click-right-on">
        <xs:annotation>
            <xs:documentation>Rightclicks on the given control.
            </xs:documentation>
        </xs:annotation>
        <xs:complexType>
            <xs:complexContent>
                <xs:extension base="tc:commandType">
                    <xs:sequence>
                        <xs:element name="wpath" type="tc:parameterType"
                            minOccurs="1" maxOccurs="1">
                            <xs:annotation>
                                <xs:documentation>The WPath identifying
                                    the control.</xs:documentation>
                            </xs:annotation>
                        </xs:element>
                    </xs:sequence>
                </xs:extension>
            </xs:complexContent>
        </xs:complexType>
    </xs:element>

    <xs:element name="close-window">
        <xs:annotation>
            <xs:documentation>Closes the window with the given name.
            </xs:documentation>
        </xs:annotation>
        <xs:complexType>
            <xs:complexContent>
                <xs:extension base="tc:commandType">
                    <xs:sequence>
                        <xs:element name="name" type="tc:parameterType"
                            minOccurs="1" maxOccurs="1">
                            <xs:annotation>
                                <xs:documentation>The name of the
                                    window.</xs:documentation>
                            </xs:annotation>
                        </xs:element>
                    </xs:sequence>
                </xs:extension>
            </xs:complexContent>
        </xs:complexType>
    </xs:element>

    <xs:element name="describe">
        <xs:annotation>
            <xs:documentation>Adds a description to the test using markdown syntax.
            </xs:documentation>
        </xs:annotation>
        <xs:complexType>
            <xs:complexContent>
                <xs:extension base="tc:commandType">
                    <xs:sequence>
                        <xs:element name="text" type="tc:parameterType"
                            minOccurs="1" maxOccurs="1">
                            <xs:annotation>
                                <xs:documentation>The description text.</xs:documentation>
                            </xs:annotation>
                        </xs:element>
                    </xs:sequence>
                </xs:extension>
            </xs:complexContent>
        </xs:complexType>
    </xs:element>

    <xs:element name="deselect">
        <xs:annotation>
            <xs:documentation>Deselects the given control.
            </xs:documentation>
        </xs:annotation>
        <xs:complexType>
            <xs:complexContent>
                <xs:extension base="tc:commandType">
                    <xs:sequence>
                        <xs:element name="wpath" type="tc:parameterType"
                            minOccurs="1" maxOccurs="1">
                            <xs:annotation>
                                <xs:documentation>The WPath identifying
                                    the control.</xs:documentation>
                            </xs:annotation>
                        </xs:element>
                    </xs:sequence>
                </xs:extension>
            </xs:complexContent>
        </xs:complexType>
    </xs:element>

    <xs:element name="exec-java">
        <xs:annotation>
            <xs:documentation>Executes the given Java method with the
                given parameters.</xs:documentation>
        </xs:annotation>
        <xs:complexType>
            <xs:complexContent>
                <xs:extension base="tc:commandType">
                    <xs:sequence>
                        <xs:element name="method" type="tc:parameterType"
                            minOccurs="1" maxOccurs="1">
                            <xs:annotation>
                                <xs:documentation>The fully qualified
                                    Java method to execute. Supported
                                    are static and non-static method.
                                    When calling a non-static method an
                                    instance of the class will be
                                    created using the (parameterless)
                                    default constructor.
                                </xs:documentation>
                            </xs:annotation>
                        </xs:element>
                        <xs:element name="parameters" type="tc:parameterType"
                            minOccurs="0" maxOccurs="1">
                            <xs:annotation>
                                <xs:documentation>The parameters to be
                                    used when executing the given
                                    method. Only Parameters of type
                                    java.lang.String are supported.
                                </xs:documentation>
                            </xs:annotation>
                        </xs:element>
                    </xs:sequence>
                </xs:extension>
            </xs:complexContent>
        </xs:complexType>
    </xs:element>

    <xs:element name="go-back">
        <xs:annotation>
            <xs:documentation>Goes back in the current window using the
                back button.</xs:documentation>
        </xs:annotation>
        <xs:complexType>
            <xs:complexContent>
                <xs:extension base="tc:commandType">
                    <xs:sequence>
                        <xs:element name="steps" type="tc:parameterType"
                            minOccurs="0" maxOccurs="1">
                            <xs:annotation>
                                <xs:documentation>The number of steps to
                                    go back (default: 1)
                                </xs:documentation>
                            </xs:annotation>
                        </xs:element>
                    </xs:sequence>
                </xs:extension>
            </xs:complexContent>
        </xs:complexType>
    </xs:element>

    <xs:element name="mouse-over">
        <xs:annotation>
            <xs:documentation>Moves the mouse over the given control.
            </xs:documentation>
        </xs:annotation>
        <xs:complexType>
            <xs:complexContent>
                <xs:extension base="tc:commandType">
                    <xs:sequence>
                        <xs:element name="wpath" type="tc:parameterType"
                            minOccurs="1" maxOccurs="1">
                            <xs:annotation>
                                <xs:documentation>The WPath identifying
                                    the control.</xs:documentation>
                            </xs:annotation>
                        </xs:element>
                    </xs:sequence>
                </xs:extension>
            </xs:complexContent>
        </xs:complexType>
    </xs:element>

    <xs:element name="open-url">
        <xs:annotation>
            <xs:documentation>Opens the given URL in the current window.
            </xs:documentation>
        </xs:annotation>
        <xs:complexType>
            <xs:complexContent>
                <xs:extension base="tc:commandType">
                    <xs:sequence>
                        <xs:element name="url" type="tc:parameterType"
                            minOccurs="1" maxOccurs="1">
                            <xs:annotation>
                                <xs:documentation>The URL to open.
                                </xs:documentation>
                            </xs:annotation>
                        </xs:element>
                    </xs:sequence>
                </xs:extension>
            </xs:complexContent>
        </xs:complexType>
    </xs:element>

    <xs:element name="select">
        <xs:annotation>
            <xs:documentation>Selects the given control.
            </xs:documentation>
        </xs:annotation>
        <xs:complexType>
            <xs:complexContent>
                <xs:extension base="tc:commandType">
                    <xs:sequence>
                        <xs:element name="wpath" type="tc:parameterType"
                            minOccurs="1" maxOccurs="1">
                            <xs:annotation>
                                <xs:documentation>The WPath identifying
                                    the control.</xs:documentation>
                            </xs:annotation>
                        </xs:element>
                    </xs:sequence>
                </xs:extension>
            </xs:complexContent>
        </xs:complexType>
    </xs:element>

    <xs:element name="set">
        <xs:annotation>
            <xs:documentation>Sets the value of the given control to the
                given value.</xs:documentation>
        </xs:annotation>
        <xs:complexType>
            <xs:complexContent>
                <xs:extension base="tc:commandType">
                    <xs:sequence>
                        <xs:element name="wpath" type="tc:parameterType"
                            minOccurs="1" maxOccurs="1">
                            <xs:annotation>
                                <xs:documentation>The WPath identifying
                                    the control.</xs:documentation>
                            </xs:annotation>
                        </xs:element>
                        <xs:element name="value" type="tc:parameterType"
                            minOccurs="1" maxOccurs="1">
                            <xs:annotation>
                                <xs:documentation>The value.
                                </xs:documentation>
                            </xs:annotation>
                        </xs:element>
                    </xs:sequence>
                </xs:extension>
            </xs:complexContent>
        </xs:complexType>
    </xs:element>

    <xs:element name="use-module">
        <xs:annotation>
            <xs:documentation>Executes the given module.
            </xs:documentation>
        </xs:annotation>
        <xs:complexType>
            <xs:complexContent>
                <xs:extension base="tc:commandType">
                    <xs:sequence>
                        <xs:element name="module" type="tc:parameterType"
                            minOccurs="1" maxOccurs="1">
                            <xs:annotation>
                                <xs:documentation>The (absolute or
                                    relative) path of the module.
                                </xs:documentation>
                            </xs:annotation>
                        </xs:element>
                        <xs:element name="parameters" type="tc:parameterType"
                            minOccurs="0" maxOccurs="1">
                            <xs:annotation>
                                <xs:documentation>The parameters to be
                                    used when executing the given
                                    module. They can be accessed by
                                    their index within the module, e.g.
                                    the first parameter as $1.
                                </xs:documentation>
                            </xs:annotation>
                        </xs:element>
                    </xs:sequence>
                </xs:extension>
            </xs:complexContent>
        </xs:complexType>
    </xs:element>

</xs:schema>